*{
  box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
}
/* Navbar */
.navbar{
  border-bottom:1px solid rgb(228, 224, 224) ;
}
.navbar .nav-item a{
  color: #2d2d2d;
  font-size: 14px;
  padding: 24px 0 9px;
  transition: border-bottom 0.2s ease, color 0.2s ease;
  border-bottom: 2px solid transparent;
}
.navbar .nav-item a:hover{
  border-bottom: 2px solid orange;
}
.navbar .icons a{
  font-size: 18px;
  padding: 21px 10px 9px;
}
.navbar .icons a:hover i{
  color: orange;
}

.navbar .icons li:nth-child(4) a{
  position: relative;
}
.navbar .icons li:nth-child(4) a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: gray;
}

/* Search Bar */
.job-search-box {
    width: 70%;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 40px;
    padding: 10px 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.search-field,
.location-field {
    flex: 1;
    display: flex;
    align-items: center;
}
.icon {
    font-size: 18px;
    margin-right: 10px;
}
input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
.divider {
    width: 1px;
    height: 30px;
    background: #ccc;
    margin: 0px 20px;
}
.find-btn , .btn{
    background: orange;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.find-btn:hover {
    background: rgb(253, 176, 34);
}
/* Job Suggestions */
.jobs-suggestions p:first-of-type {
  font-size: 14px;
}
.job-card {
  position: relative;
}
.job-icons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  gap: 15px;
}
.job-icons i,.job-details i{
  cursor: pointer;
  color: #333;
  transition: 0.2s ease-in;
 
}
.job-icons i:hover, .job-details i:hover {
  color: orange;
   transform: translateY(-2px);
}
.job-card {
  transition: 0.2s ease;
  border: 1px solid transparent;
}
.job-card i{
  font-size: 20px;
}
.job-card:hover {
  transform: translateY(-10px);
}
/* Job deatils Card */
.company-logo{
  top:80px;
  left: 0;
  margin: 5px;
}
.action_bar{
  right: 20px;
  font-size: 25px;
  margin: 5px;
}
.action_bar i{
  margin-top: 7px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.2s ease-in;
}
.action_bar i:hover{
   color: orange;
   transform: translateY(-2px);
}
.card-img-overlay a:hover{
  cursor: pointer;
}
/* Job details tab */
 .custom-tabs .nav-link {
        color: #000;
        font-weight: 500;
        padding-bottom: 6px;
    }

    .custom-tabs .nav-link:hover {
        border: none;
        border-bottom: 3px solid orange !important;
        color: #000;
        background: none !important;
    }

    .custom-tabs .nav-link:hover {
        border: none;
        background: none;
        color: #000;
    }
    .custom-tabs .nav-item {
        margin-right: 30px; 
    }
.job-title-background{
  background-color: #F4F4F4;
  border-radius: 20px;
  padding: 10px;
  color: black;
}    






