*{
  box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
}
/* Navbar */
.navbar{
  border-bottom:1px solid rgb(228, 224, 224) ;
}
.navbar .nav-item a{
  color: #2d2d2d;
  font-size: 14px;
  padding: 24px 0 9px;
  transition: border-bottom 0.2s ease, color 0.2s ease;
  border-bottom: 2px solid transparent;
}
.navbar .nav-item a:hover{
  border-bottom: 2px solid orange;
}
.navbar .icons a{
  font-size: 18px;
  padding: 21px 10px 9px;
}
.navbar .icons a:hover i{
  color: orange;
}

.navbar .icons li:nth-child(4) a{
  position: relative;
}
.navbar .icons li:nth-child(4) a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: gray;
}

/* Create post*/
.newpost-card {
    width: 60%;
    background: #ffffff;
    border-radius: 20px;
}
.newpost-avatar {
    width: 50px;
    height: 55px;
    border-radius: 50%;
}
.newpost-input {
    background: #f5f5f5;
    border-radius: 50px;
    font-size: 18px;
    color: #444;
    outline: none;
}
.newpost-input::placeholder {
    color: #777;
}

.newpost-actions span {
    cursor: pointer;
    color: #555;
    transition: 0.3s;
}
.newpost-actions span:hover {
    color: #ff6600;
}

.newpost-btn {
    border-radius: 30px;
    padding: 6px 25px;
    transition: 0.3s;
}
.newpost-btn:hover {
    background: #f8e263 !important;
}

/* Post */
.post-card {
    width: 42rem;
    border: none;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
    padding: 20px 28px;
    transition: 0.3s ease;
}

.post-card:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    transform: translateY(-3px);
}

.post-avatar {
    width: 55px;
    height: 60px;
    border-radius: 50%;
}

.post-time {
    color: #888;
    font-size: 14px;
}

.card-desc {
    color: #444;
    line-height: 1.5;
    font-size: 16px;
}
.post-icons {
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.post-icons i {
    font-size: 22px;
    margin: 10px 0;
    color: #888;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.post-icons i:hover {
    color: #ffb300;
    transform: scale(1.2) translateY(-2px);
}
