/* patrick-hand-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Patrick Hand SC';
  font-style:oblique;
  font-weight: 400;
  src: url('./fonts/patrick-hand-sc-v17-latin/patrick-hand-sc-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
} 
/* patrick-hand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/patrick-hand-v25-latin/patrick-hand-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}