*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh; 
}
  .signupCard h2 {
    font-family: 'Patrick Hand SC';
    font-weight: 300;
    margin-top: 15px;
    font-size: 40px;
}
 .signupCard h2 img{
    height: 30px;
}
 .signupCard p{
     font-family: 'Patrick Hand';
     color: gray;
     letter-spacing: 1px;
     margin-bottom: 10px;
}
 .signupCard p:last-child{
    font-size: 14px;
}
.signupCard p span{
    color: orange;
 }
.signupCard{
    min-width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 45px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.logo{
    width: 150px;
    height: 100px;
}
 .signupCard button{
    background-color: orange;
    border: none;
    outline: none;
    color: white;
    font-family: 'Patrick Hand';
    letter-spacing: 1px;
    font-weight: 600;
    padding: 12px 120px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
.divider {
    text-align: center;
    position: relative;
    margin: 10px 0;
    font-size: 16px;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 80px;            
    border-bottom: 1px solid #ccc;
}
.divider::before {
    left: 0;
}
.divider::after {
    right: 0;
}
.icons span{
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.icons{
    margin: 25px;
}